<section class="box-task">
    <form class="form-task">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3>Adicione uma tarefa:</h3>
            </div>
            <div class="col-md-5">
              <input type="text" class="form-control" name="task[title]" placeholder="Título" required="" autofocus="" />
            </div>
            <div class="col-md-5">
              <input type="text" class="form-control" name="task[description]" placeholder="Descrição" required=""/>
            </div>
            <div class="col-md-2">
              <a href="#" class="btn btn-primary btn-add" title="Adicionar task"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
            </div>
          </div>
        </div>
        <hr>
    </form>

  <div class="container">
    <h4>To Do:</h4>
  </div>

   <ul class="container todolist">
     <% @tasks.each do |tasks| %>
       <li class="row"
       data-id="<%= tasks.id %>"
       data-status="<%= tasks.status %>">
         <div class="col-md-10">
          <strong><%= tasks.title %></strong>
          <p><%= tasks.description %></p>
         </div>
         <div class="col-md-2">
            <a href="#" class="btn btn-success btn-complete" title="Completar task"><i class="glyphicon glyphicon-ok"></i></a>
            <a href="#" class="btn btn-info btn-update"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="#" class="btn btn-danger btn-destroy" title="Remover task"><i class="glyphicon glyphicon-remove"></i></a>
         </div>
        </li>
      <% end %>
   </ul>

</section>
