<section class="box-task">
    <form class="form-signin">
        <h2 class="form-signin-heading">Todo List</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <input type="text" class="form-control" name="title" placeholder="Título" required="" autofocus="" />
            </div>
            <div class="col-md-5">
              <input type="password" class="form-control" name="description" placeholder="Descrição" required=""/>
            </div>
            <div class="col-md-2">
              <a class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
            </div>
          </div>
        </div>
        <hr>
    </form>

   <ul class="container todolist">
     <li class="row">
       <div class="col-md-10">
        <strong>Primeira task</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dolorum minima commodi, incidunt, perspiciatis blanditiis beatae doloribus qui aliquid harum alias illo rem praesentium consequuntur suscipit voluptatum quo tempore dolores.</p>
       </div>

       <div class="col-md-2">
          <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></a>
          <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
       </div>

      </li>
   </ul>

</section>
